/* Styled by Tony Knowles*/
@font-face {
	font-family: PlayfairDisplay;
	src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
	font-family: Montserrat;
	src: url(fonts/Montserrat-Regular.ttf);
  }
body {
	margin: 0;
	padding: 0;
	background-color: #cecece;
	font-family: Montserrat, sans-serif;
	letter-spacing: 0.25rem;
	color: #292929;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: #eadbc9;
	font-family: PlayfairDisplay, serif;
}
a {
	color: #A04735;
	text-decoration: none;
}
a:visited {
	color: #A04735;
}
a:hover {
	color:#a37269;
}
#navbar {
	height: 3.5rem; 
	width: 100%;
	position: fixed;
}
#navbar ul {
	text-decoration: none;
	list-style: none;
	position: absolute;
	right: 2.5vw;
}
#navbar li {
	display: inline-block;
}
#navbar a {
	text-align: right;
	margin-right: 1.5rem;
	margin-top: auto;
	font-size: 1.35rem;
}
#content-1 {
	background-image: url("images/bg-cabin-image.jpg");
	min-height: 100%;
	height: 1000px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#content-1 h1 {
	padding: 15vh 0 0 3vw;
	font-size: 4.5rem;
}
#content-1 h2 {
	padding-left: 3.5vw;
	font-size: 2.5rem;
	font-weight: normal;
}
#content-2 {
	background-color: #cecece;
	min-height: 100%;
	width: 100%;
	height: 750px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
	text-align: center;
}
#content-2 h2 {
	color: #A04735;
}
#content-2 img, #content-2 p {
	display: inline-block;
	width: 25vw;
	height: 25vh;
}
#content-2 div {
	display: inline-block;
	width: 25vw;
	height: 25vh;
	padding-left: 3vw;
	padding-top: 10vh;
}
#content-3 {
	background-image: url("images/bg-letters-image.jpg");
	min-height: 100%;
	height: 1000px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#content-3 div {
	width: 25vw;
	padding-left: 3vw;
	padding-top: 12.5vh;
}
#content-3 h3 {
	font-size: 3.5rem;
	margin-bottom: 15vh;
}
#content-3 h4, #content-3 span, #content-3 a {
	margin: 0;
	display: inline-block;
	font-size: 3.5rem;
	font-weight: normal;
}